/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        background: linear-gradient(to top left,#FF96DB,#A3F3F5);
    }
}
 
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    body {
        background: linear-gradient(to top left,#A3F3F5, #FF96DB);
    }
}
 
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    body {
        background: linear-gradient(to top left,#FF96DB,#A3F3F5);
    }
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    body {
        background: linear-gradient(to top left,#A3F3F5, #FF96DB);
    }
}
 
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    body {
        background: linear-gradient(to top left,#FF96DB,#A3F3F5);
    }
}
 
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    body {
        background: linear-gradient(to top left,#A3F3F5, #FF96DB);
    }
}
 
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    body {
        background: linear-gradient(to top left,#FF96DB,#A3F3F5);
    }
}
 
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    body {
        background: linear-gradient(to top left,#A3F3F5, #FF96DB);
    }
}
 
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5) {
    body {
        background: linear-gradient(to top left,#FF96DB,#A3F3F5);
    }
}